body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u608 {
  position:absolute;
  left:6px;
  top:11px;
  width:1099px;
  height:745px;
}
#u609 {
  position:absolute;
  left:2px;
  top:364px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u610 {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:70px;
}
#u611 {
  position:absolute;
  left:2px;
  top:27px;
  width:1101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:687px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u612 {
  position:absolute;
  left:0px;
  top:69px;
  width:127px;
  height:687px;
}
#u613 {
  position:absolute;
  left:2px;
  top:336px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:70px;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:69px;
  font-size:36px;
}
#u615 {
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  word-wrap:break-word;
}
#u616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u616 {
  position:absolute;
  left:0px;
  top:69px;
  width:127px;
  height:41px;
}
#u617 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u618 {
  position:absolute;
  left:974px;
  top:24px;
  width:65px;
  height:33px;
}
#u619 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u620 {
  position:absolute;
  left:1037px;
  top:38px;
  width:12px;
  height:7px;
}
#u621 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u622 {
  position:absolute;
  left:900px;
  top:30px;
  width:27px;
  height:21px;
}
#u623 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u624 {
  position:absolute;
  left:944px;
  top:26px;
  width:24px;
  height:26px;
}
#u625 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u626 {
  position:absolute;
  left:953px;
  top:700px;
  width:79px;
  height:35px;
}
#u627 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  position:absolute;
  left:188px;
  top:138px;
  width:376px;
  height:544px;
}
#u629 {
  position:absolute;
  left:2px;
  top:264px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u630 {
  position:absolute;
  left:0px;
  top:110px;
  width:127px;
  height:41px;
}
#u631 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u632 {
  position:absolute;
  left:850px;
  top:700px;
  width:79px;
  height:35px;
}
#u633 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u634 {
  position:absolute;
  left:288px;
  top:138px;
  width:182px;
  height:43px;
  font-size:18px;
}
#u635 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u636 {
  position:absolute;
  left:204px;
  top:311px;
  width:341px;
  height:1px;
}
#u637 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u638 {
  position:absolute;
  left:583px;
  top:356px;
  width:50px;
  height:18px;
}
#u639 {
  position:absolute;
  left:2px;
  top:1px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u640 {
  position:absolute;
  left:221px;
  top:218px;
  width:49px;
  height:25px;
}
#u641 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  position:absolute;
  left:337px;
  top:218px;
  width:49px;
  height:25px;
}
#u643 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  position:absolute;
  left:459px;
  top:218px;
  width:49px;
  height:25px;
}
#u645 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  position:absolute;
  left:221px;
  top:262px;
  width:49px;
  height:25px;
}
#u647 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  position:absolute;
  left:337px;
  top:262px;
  width:49px;
  height:25px;
}
#u649 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  position:absolute;
  left:459px;
  top:262px;
  width:60px;
  height:25px;
}
#u651 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  position:absolute;
  left:221px;
  top:332px;
  width:49px;
  height:25px;
}
#u653 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  position:absolute;
  left:221px;
  top:380px;
  width:69px;
  height:25px;
}
#u655 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u656 {
  position:absolute;
  left:221px;
  top:429px;
  width:69px;
  height:25px;
}
#u657 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u658 {
  position:absolute;
  left:221px;
  top:479px;
  width:69px;
  height:25px;
}
#u659 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u660 {
  position:absolute;
  left:221px;
  top:527px;
  width:69px;
  height:25px;
}
#u661 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u662 {
  position:absolute;
  left:221px;
  top:574px;
  width:69px;
  height:25px;
}
#u663 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u664 {
  position:absolute;
  left:656px;
  top:138px;
  width:376px;
  height:544px;
}
#u665 {
  position:absolute;
  left:2px;
  top:264px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u666 {
  position:absolute;
  left:756px;
  top:138px;
  width:182px;
  height:43px;
  font-size:18px;
}
#u667 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u668 {
  position:absolute;
  left:672px;
  top:311px;
  width:341px;
  height:1px;
}
#u669 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:689px;
  top:218px;
  width:49px;
  height:25px;
}
#u671 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  position:absolute;
  left:805px;
  top:218px;
  width:58px;
  height:25px;
}
#u673 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u674 {
  position:absolute;
  left:927px;
  top:218px;
  width:49px;
  height:25px;
}
#u675 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  position:absolute;
  left:688px;
  top:262px;
  width:81px;
  height:25px;
}
#u677 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  position:absolute;
  left:805px;
  top:262px;
  width:79px;
  height:25px;
}
#u679 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  position:absolute;
  left:927px;
  top:262px;
  width:60px;
  height:25px;
}
#u681 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u682 {
  position:absolute;
  left:689px;
  top:332px;
  width:49px;
  height:25px;
}
#u683 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684 {
  position:absolute;
  left:689px;
  top:380px;
  width:113px;
  height:25px;
}
#u685 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
}
#u686 {
  position:absolute;
  left:688px;
  top:429px;
  width:114px;
  height:25px;
}
#u687 {
  position:absolute;
  left:2px;
  top:-4px;
  width:110px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
}
#u688 {
  position:absolute;
  left:688px;
  top:479px;
  width:129px;
  height:25px;
}
#u689 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u690 {
  position:absolute;
  left:689px;
  top:527px;
  width:106px;
  height:25px;
}
#u691 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u692 {
  position:absolute;
  left:689px;
  top:574px;
  width:106px;
  height:25px;
}
#u693 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u694 {
  position:absolute;
  left:474px;
  top:168px;
  width:30px;
  height:40px;
  color:#434343;
}
#u695 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
}
#u696 {
  position:absolute;
  left:1194px;
  top:45px;
  width:326px;
  height:40px;
  font-size:16px;
}
#u697 {
  position:absolute;
  left:10px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u698 {
  position:absolute;
  left:708px;
  top:168px;
  width:30px;
  height:40px;
  color:#434343;
}
#u699 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u700 {
  position:absolute;
  left:1141px;
  top:45px;
  width:30px;
  height:40px;
  color:#434343;
}
#u701 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u702 {
  position:absolute;
  left:583px;
  top:316px;
  width:30px;
  height:40px;
  color:#434343;
}
#u703 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
}
#u704 {
  position:absolute;
  left:1194px;
  top:146px;
  width:326px;
  height:40px;
  font-size:16px;
}
#u705 {
  position:absolute;
  left:10px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u706 {
  position:absolute;
  left:1141px;
  top:146px;
  width:30px;
  height:40px;
  color:#434343;
}
#u707 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u708 {
  position:absolute;
  left:474px;
  top:464px;
  width:30px;
  height:40px;
  color:#434343;
}
#u709 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u710 {
  position:absolute;
  left:708px;
  top:457px;
  width:30px;
  height:40px;
  color:#434343;
}
#u711 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
}
#u712 {
  position:absolute;
  left:1194px;
  top:261px;
  width:326px;
  height:40px;
  font-size:16px;
}
#u713 {
  position:absolute;
  left:10px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u714 {
  position:absolute;
  left:1141px;
  top:261px;
  width:30px;
  height:40px;
  color:#434343;
}
#u715 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u716 {
  position:absolute;
  left:756px;
  top:700px;
  width:79px;
  height:35px;
}
#u717 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u718 {
  position:absolute;
  left:756px;
  top:650px;
  width:30px;
  height:40px;
  color:#434343;
}
#u719 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
}
#u720 {
  position:absolute;
  left:1194px;
  top:362px;
  width:326px;
  height:40px;
  font-size:16px;
}
#u721 {
  position:absolute;
  left:10px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u722 {
  position:absolute;
  left:1141px;
  top:362px;
  width:30px;
  height:40px;
  color:#434343;
}
#u723 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:1207px;
  top:453px;
  width:300px;
  height:181px;
}
#u725 {
  position:absolute;
  left:2px;
  top:82px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u726 {
  position:absolute;
  left:1221px;
  top:474px;
  width:271px;
  height:110px;
}
#u727 {
  position:absolute;
  left:2px;
  top:47px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:1252px;
  top:485px;
  width:127px;
  height:25px;
}
#u729 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  position:absolute;
  left:1424px;
  top:594px;
  width:68px;
  height:31px;
}
#u731 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u732 {
  position:absolute;
  left:1350px;
  top:594px;
  width:68px;
  height:31px;
}
#u733 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
