@import "./scss/unit","./scss/variables";

.g-notification{
    position: absolute; 
    right: 20px;
    top:10px;
    z-index: 2;
    text-align: right;
    max-width: 50%;
    .g-alertInfo{
        
        @extend %shadow;
        display: inline-flex;
        padding: 10px;
        margin: 8px 0;
        align-items: center;
        min-width: 280px;
        justify-content: space-between;
        text-align: left;
    }

}

.g-alertInfo{
    .txt{
        text-align: left;
    }
    
    .warn{
        color:$warn;
    }
    .error{
        color:$error;
    }    
    .success{
        color:$success;
    }
    .m-alert-close{
        padding-left: 10px;
        cursor: pointer;
        &:hover{
            color:$themeColor;
        }
    }

}