@import "./scss/unit","./scss/variables";

.g-notification{
    position: absolute; 
    right: 20px;
    top:10px;
    z-index: 2;
    text-align: right;
    .g-alertInfo{
        
        @extend %shadow;
        display: inline-flex;
        padding: 10px;
        margin: 8px 0;
        align-items: center
    }

}

.g-alertInfo{
    
    .warn{
        color:$warn;
    }
    .error{
        color:$error;
    }    
    .success{
        color:$success;
    }
    .m-alert-close{
        padding-left: 10px;
        cursor: pointer;
        &:hover{
            color:$themeColor;
        }
    }

}