@import "./scss/variables";
$bg:#ffffff;

%shadow{
	box-shadow: 0px 1px 8px 0px 
		rgba(0, 160, 233, 0.3);

	border-color: $active;
}

%combox-inp{
	position: relative;
	z-index: 2;
	.m-combo-inp{
		display: flex;
		height: $inpHeight;
		cursor: pointer;
		border:1px solid;	
		border-radius: 4px;
		border-color: $normal;
		align-items: center;
		background-color:$bg;

	  .m-inp{
	  	flex: auto;
	  	height: 100%;
	  	box-sizing: border-box;
	  	border:none;
	  	outline: none;
	  	cursor: pointer;
	  	text-indent: .5em;
	  }	
	  .j-slide{
	  	padding: 0 8px;
	  	cursor: pointer;
	  }
	}
	.m-drop{
		  position: absolute;
		  display: none;
		  box-sizing: border-box;
	  	width:100%;
			background-color: $bg;
			border-radius: 4px;
			border: solid 1px #ececec;
			margin-top: 10px;
			padding: 8px;
			.m-combo-item{
				padding: 8px;
				cursor: pointer;
				&:hover{
					color:$themeColor;
				}
			}
	 }
	 .m-combo-item.active{
				background-color: #acb1fe;
				border-radius: 2px;
		}
}

.combobox{
		@extend %combox-inp;
		.m-drop{
			overflow: auto;
		}
}



.active{

	&.combobox,&.comTreeBox{
		.m-combo-inp{
				@extend %shadow;
			}
	}
	
}
.no-fill{
	&.combobox,&.comTreeBox{
		.m-combo-inp{
			border-color: $error;
		}
	}
	
}

.comTreeBox{
	@extend %combox-inp;
	.m-combo-item{
		display: flex;
		justify-content: space-between;
	}
	.m-tree{
		overflow: auto;
	}
}




// 下拉框布局
.item-inp{
	display: flex;
	align-items: center;
	.m-inp-tit{
		padding-right: 8px;
		&:after{
			content:"："
		}
	}
}


