@import "./scss/variables";

.s-inp{
	height: $inpHeight;
	width: $inpWidth;
	text-indent:.5em;
	border:0;
	outline:0;
	//box-sizing:border-box;
}

.normal{
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    border-color: #e3e3e3;
    background-color: #ffffff;
}

.s-inp.no-fill{
	
	border-color:$error;
}


/* radio */
.m-radio{
	height: $inpHeight;
	display: flex;
	align-items: center;
	.lab-radio{
		margin: 0 6px;
		display: flex;
		align-items: center;
		cursor: pointer;	
		input[type=checkbox],
	  input[type=radio] {
	    position: relative;
	    -webkit-appearance: none;
    	-moz-appearance: none;
   		 appearance: none;
	    width: 1em;
	    margin: 0;
	    outline: none;
	    font: normal normal normal 22px/1 FontAwesome;
	    color: $themeColor;
	    transition: 300ms ease-out;
	    cursor: pointer;	
	    &:after {
	      content: '\f10c'; // circle
	      display: inline-block;
	      text-align: center;
	      width: 1em;
	    }
	    &:checked:after {
	       content: '\f28e'; // circle
	    }
	    &:active {
	      transform: scale(.6);
	    }
	  }
	}
	.lab-tit{
		padding: 0 6px;
	}
}





