@import "./scss/variables" , "./scss/unit";
@import "./normalize.css" ,"./common.scss";


.m-sysOpt{
	&>li{
		padding: 4px 0;
	}
}

.pwd-M{
	.item-inp{
		padding:10px;
	}
	.s-inp{
		flex: 1;
	}
	.m-Mtit{
		justify-content: center;
	}
	.m-file-box{
		width: 600px;
		padding: 20px 0;
		.m-inp-tit{
			width: 100px;
			text-align: right
		}
	}
}

%flex-column{
	display:flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
}

.g-summary{
	@extend %flex-column;	
	.m-filter-box{
		display: flex;
		&>div{
			margin-right: 16px;
		}
	}
	.g-table{
		@extend %shadow;
		padding: 10px 16px;
	}
	//状态
	.m-translate-error{
		color: $error;
	}
	.m-translate-warn{
		color: $warn;
	}
	.m-translate-green{
		color: $green;
	}
}
.m-translate-modal{
	.m-Modal{
		width: 400px;
	}
}

.g-gdsummary{
	@extend %flex-column;
	.g-translate-box{
		flex:1;
		display: flex;
		flex-direction: column;	
		overflow: auto;
		@extend %shadow;
	}
	.g-translate{
		display: flex;
		flex:1;
		border-top:1px solid $normal;
		overflow: auto;
	}
	.m-tit{
		font-size: 20px;
		font-weight: bolder;
		text-align: center;
	}
	.g-tanslate-content{
		overflow: auto;
		flex: 1;
	}
	.m-translate{
		width:50%;
		padding: 16px;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		&:first-child{
			border-right: 1px solid $normal;
		}
	}
	
	.m-right-tit{
		text-align: right;
		display: inline-block;
	}
	textarea{
			flex:1;
			border-radius: 4px;
			border-color: $normal;
	}
	.add-opt-box{
		width: 50%;
		padding-top: 20px;
		text-align: center;
		.s-btn{
			margin-left:$btnSpace;
		}
	}
	.translate-footer-opt{
		display: flex;
		justify-content:flex-end;
		padding: 8px 16px;
		border-top: 1px solid $normal;
		.s-btn{
			margin-left:8px;
		}
	}
	.j-dao{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&>div{
			padding: 10px;
			&:hover{
				.m-dao-drop{
					display: block;
				}
			}
		}
		
	}
	.m-check-opt{
		padding: 10px;
		text-align: right;
		.s-btn{
			margin-left: $btnSpace
		}
	}
	.m-dao-drop{
		display: none;
		@extend %shadow;
		padding: 10px;
		position: absolute;
		right: 20px;
		margin-top: 10px;
		text-align: left;
		cursor: pointer;
		li{
			border-bottom: 1px solid $normal;
			padding: 8px 4px;
			&:hover{
				color: $themeColor;
			}
		}
	}
	.no-fill{
		border-color: $warn
	}
	.m-org-drop{
		@extend %shadow;
		position: absolute;
		z-index: 2;
		max-height: 300px;
		overflow: auto;
		cursor: pointer;
		width: 100%;
		&>li{
			padding: 6px 10px;
			&:hover{
				color: $themeColor;
			}
		}
		display: none;
	}
	.g-org{
		position: relative;
		.s-inp{
			width: 100%;
		}
		&:hover{
			.m-org-drop{
				display: block;
			}
		}
	}
	
}

.g-add-modal{
	.m-translate{
		width:100%;
	}
	
}

// 病例头部的yangs
.g-translate-header{
	padding: 16px 0;
	border-bottom: 1px solid $normal;
	display: flex;	
	justify-content: space-between;
	
	.m-add-item{
		width:30% ;
		&>p,&>div{
			margin:10px 0 ;

		}
		.s-inp{
			width: 100%;
		}
		&>div{
			min-width: 150px
		}

	}
}
.g-translate-ch{
	.m-add-item:last-child{
		.m-head-tit{
			width: 80px;
		}

	}
	.m-article-tit{
		width: 80px;
	}
	.m-survey{
		width: calc(100% - 80px)
	}
}
.g-translate-en{
	.m-survey{
		width: calc(100% - 80px)
	}
	.m-article-tit{
		width: 180px;
	}

	.m-article{
		border-radius: 4px;
		//border:1px solid $normal;
		//min-height: 40px;
	}
}
.m-translate{
	&.onlyRead{
		textarea ,.s-inp{
			cursor: not-allowed;
		}
	}
	.translate-item{
		margin:12px 16px;
			display: flex;
		line-height: 1.8em;
	}
	
	.m-article{
		flex: 1;
		text-indent: 2em;
		word-break: break-all;
	}
	.paitent-info{
		padding: 16px;
		.s-inp{
			border:none;
			border-bottom: 1px solid $normal;
			border-radius: 0;
		}
		.no-fill{
			border-color: $warn;
		}
		.g-calendar{
			display: inline-block;
		}
	}
}

.g-role-sys{
	.m-sysOpt{
		width: 60px;
		right: 10px;
	}
}



	// .upfile-box{
	// 	height: 200px;
	// 	border:1px solid $themeColor;
	// 	border-radius: 4px;
	// 	text-align: center;
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	justify-content: center;
	// }
	// .file-btn{
	// 	padding: 16px;
	// 	font-weight: bolder;
	// }
	// .file-inp{
	// 	width: 100%;
	// 	height: 100%;
	// }
	// .drop-txt{
	// 	color:darken( $normal, 40);
	// }


.m-mail{
	position: relative;
	width: 40px;
	cursor: pointer;
	.m-soket-drop{
		width: 120px;
		text-align: left;
		left:-10px;
	}
	.fa-circle{
		color: red;
		font-size: 14px;
		position: absolute;
		margin-left: 4px;
		margin-top:-4px;
	}
	&:hover{
		.m-soket-drop{
			display: block;
		}
	}
}

