@import "./normalize.css" ,"./common.scss";

.m-sysOpt{
	&>li{
		padding: 4px 0;
	}
}

.pwd-M{
	.item-inp{
		padding:10px;

	}
}

.g-summary{
	height: 100%;
	box-sizing:border-box;
	display:flex;
	flex-direction: column;
	.m-filter-box{
		display: flex;
		&>div{
			margin-right: 16px;
		}
	}

}


