@import "./scss/variables" , "./scss/unit";
@import "./normalize.css" ,"./common.scss";


.m-sysOpt{
	&>li{
		padding: 4px 0;
	}
}

.pwd-M{
	.item-inp{
		padding:10px;

	}
}

%flex-column{
	display:flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
}

.g-summary{
	@extend %flex-column;	
	.m-filter-box{
		display: flex;
		&>div{
			margin-right: 16px;
		}
	}
	.g-table{
		@extend %shadow;
		padding: 10px 16px;
	}

}

.g-gdsummary{
	@extend %flex-column;
	.g-translate-box{
		flex:1;
		display: flex;
		flex-direction: column;	
		@extend %shadow;
	}
	.g-translate{
		display: flex;
		flex:1;
		border-top:1px solid $normal;
	}
	.m-tit{
		font-size: 20px;
		font-weight: bolder;
		text-align: center;
	}
	.g-tanslate-content{
		overflow: auto;
		flex: 1;
	}
	.m-translate{
		width:50%;
		padding: 16px;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		&:first-child{
			border-right: 1px solid $normal;
		}
	}
	
	.m-right-tit{
		text-align: right;
		display: inline-block;
	}
	textarea{
			flex:1;
			border-radius: 4px;
			border-color: $normal;
	}
	.add-opt-box{
		width: 50%;
		padding-top: 20px;
		text-align: center;
		.s-btn{
			margin-left:10px;
		}
	}
	.translate-footer-opt{
		display: flex;
		justify-content:flex-end;
		padding: 8px 16px;
		border-top: 1px solid $normal;
		.s-btn{
			margin-left:10px;
		}
	}
}

.g-add-modal{
	.m-translate{
		width: 100%;
	}
}

// 病例头部的yangs
.g-translate-header{
	padding: 16px 0;
	border-bottom: 1px solid $normal;
	
	.m-add-item{
		display: flex;
		justify-content: space-between;
		margin:10px 0;
		&>p{
			width: 32%;
		}
	}
	
}
.g-translate-ch{
	.m-head-tit{
		width: 60px;
	}
	.m-article-tit{
		width: 80px;
	}
}
.g-translate-en{
	.m-head-tit{
		width: 200px;
	}
	.m-article-tit{
		width: 160px;
	}
}
.m-translate{
	.translate-item{
		margin:12px 16px;
		display: flex;
		line-height: 1.8em;
	}
	.m-article{
		flex: 1;
		text-indent: 2em;
		
	}
	.paitent-info{
		padding: 16px;
		.s-inp{
			border:none;
			border-bottom: 1px solid $normal;
			border-radius: 0;
		}
		.g-calendar{
			display: inline-block;
		}
	}
}

