@import "./scss/variables";
$M_width:400px;
$Tit_H:40px;
.g-modal{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
}

.m-Mask{
		background-color: rgba(0,0,0,0.3);
		 height: 100%;
    width: 100%;
    position: absolute;
}
.m-Modal{
	z-index: 2;
	min-width: $M_width;
	$pading:10px;
	.m-Mtit{
		height: $Tit_H;
		background-color:white;
		border-bottom: 2px solid $normal;
		border-radius: 4px 4px 0px 0px;
		display: flex;
		position: relative;
		padding:0 $pading ; 
		//justify-content: center;
		align-items: center;
		cursor: move;
	}
	.tit-name ,{
		color:$themeColor;
	}
	.m-Mclose{
		color:#cfcfcf;
		position: absolute;
		right: $pading;
		cursor: pointer;
		&:hover{
			color: $themeColor;
		}

	}	
	.m-Mbody{
		background: white;
		padding: $pading;
	}

	.m-Mfooter{
		background: white;
		display: flex;
		justify-content: flex-end;
		padding: 10px;
		.s-btn{
			margin-right:10px;
		}
	}
}
